.img-ground{
  position: relative;
  display: flex;
  justify-content: center;
  top: -8px;
}

.img-Logo{
  position: absolute;
  top: 17%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 12%;
  height: auto;
}

@media screen and (max-width: 1800px) {

  .img-ground{
    justify-content: center;
  }

}
